<div class="mt-2">
<div class="row">
<h4>Car details</h4>
</div>
<div class="row">
    <b>Make</b> - {{_car.make }}
</div>
<div class="row">
    <b>Model</b> - {{_car.model}}
</div>
<div class="row">
    <b>Year</b> - {{_car.year}}
</div>
<div class="row">
    <b>Price</b> - {{_car.price}}
</div>
<div class="row">
    <b>Seller</b> - {{_car.seller}}
</div>
<div class="row">
    <b>Comments</b> 
</div>
<div class="row">
    {{_car.comments}}
</div>
</div>
<div class="mt-2">
       <a routerLink="/cars"><i class="fa fa-arrow-left back">Go back!</i></a>
</div>